
html {

    background-color: rgb(173, 129, 230);
    background-size: auto 100%;
    background-repeat: repeat;
    background-position: center right;
    background-attachment: fixed;
}


.logo {
    z-index: 99;
    width: auto;
}


.homelang a {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 12px;
}


body {
    display: block;
    margin: 0;
    cursor: url(birdcursor.png), auto;

}

.body {
    margin: 0;
    padding: 0;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed;
    z-index: 999;
    background-color: rgb(173, 129, 230);
    width: 98%;
}


.follow {

    position: fixed;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
    bottom: 0;
    width: 100%;
    height: 1.3rem;
    font-weight: 300;
    text-size-adjust: 8px;
    opacity: 1;
    size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    z-index: 999;

}

#nashipartnery {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: transparent;
    bottom: auto;
    width: 100%;
    height: 2rem;
    font-weight: 300;
    text-size-adjust: 20px;
    opacity: 1;
    size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    z-index: 999;


}

.social {
    margin-bottom: 10px;
}

#follow {

    font-size: 16px;
    font-family: Raleway, serif;
    color: #ffffff;
    text-decoration: #ffffff;

}


a {
    color: transparent;
    font-family: 'Montserrat', sans-serif;

}

a:link {

    text-decoration: none;
    color: white;
    font-family: 'Raleway', sans-serif;


}

.div {
    position: center;
    margin-top: auto;
    margin-bottom: auto;
}

.homelang {
    padding-left: 15px;
}

.overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    opacity: 50;
    top: 10px;
    left: 0;
    background-size: 3px 3px;
    z-index: 2;
}

.babypicture h1 {
    color: #ffffff;
    text-align: right;
    font-family: Raleway, serif;
    font-weight: 500;
    position: relative;
    z-index: 2;
}

.container_titles {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    position: relative;
    z-index: 1;
}

.babypicture h2 {
    color: #ffffff;
    text-align: right;
    font-family: Raleway, serif;
    font-weight: 300;
    position: relative;
    z-index: 2;
}

.babypicture iframe {
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    display: block;
}

.img {
    opacity: 1;
    z-index: 4;
    position: absolute;
    float: left;
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
    filter: grayscale(100%);
}

/* FF 35+ */


.img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    border-color: #ffffff;
    background-color: rgb(173, 129, 230);
    top: 15px; /* Position the navbar at the top of the page */
    height: 40px;
    text-align: right;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 11px;


}

/* Change background on mouse-over */
.navbar a:hover {
    background: transparent;
    color: rgb(189, 162, 230);
    font-family: 'Montserrat', sans-serif;
}

.babypicture {
    position: relative;
    padding-top: 63px;
    padding-bottom: 21px;
}

.babypicture > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
}

.gallery {
    float: right;
    margin-right: 90px;
    margin-top: 160px;
    display: block;
    z-index: 7;
    box-shadow: 12px 10px 50px rgb(117, 117, 117);
    opacity: 1;
    filter: grayscale(100%);
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);

}


.gallery:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(0%);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);

}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(173, 129, 230);
    text-align: center;
    font-weight: 300;
    opacity: 1;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    size: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 8px;
    text-decoration-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    z-index: 999;
}

.Partnery {
    position: relative;
    width: 100%;
    display: block;
    z-index: 9;
    padding-top: 64px;
}

.partners-container {
    padding: 0 15px;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.gallery-container img {
    max-width: 350px;
    width: 100%;
    object-fit: cover;
}


.follow-container {
    display: flex;
    justify-content: space-between;
    max-width: 121px;
    margin: 0 auto;
}


.team-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.team-container a {
    max-width: 200px;
    width: calc(100% / 2 - 12px);
}
.burger {
    display: none;
    position: absolute;
    right: 27px;
    top: 19px;
    padding: 15px;
}

.burger span {
    position: relative;
    display: block;
    width: 20px;
    height: 3px;
    background: #FFF;
    transition: all 0.2s ease-in-out;
}

.burger span:before, .burger span:after {
    position: absolute;
    background: #FFF;
    content: '';
    width: 20px;
    height: 3px;
    transition: all 0.2s ease-in-out;
}

.burger span:before {
    top: -8px;
}

.burger span:after {
    top: 8px;
}

.burger.active span {
    background: transparent;
}

.burger.active span:before {
    transform: rotate(45deg) translate(5px, 6px);
}

.burger.active span:after {
    transform: rotate(-45deg) translate(5px, -6px);
}

.navbar.active {
    display: flex;
}

@media (max-width: 780px) {
    .gallery-container {
        justify-content: center;
        display: grid;
        gap: 15px;
    }
}

@media (max-width: 600px) {

    header {
        justify-content: flex-start;
    }

    .homelang {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
    }

    .burger {
        display: block;

    }

    .navbar {
        height: auto;
        flex-direction: column;
        position: absolute;
        display: none;
        top: 65px;
        z-index: 1000;
        right: 18px;
    }
}



@media (max-width: 521px) {
    .team-container {
        display: grid;
        justify-content: center;
    }
    .team-container a {
        width: calc(100% / 2 - 12px);
    }
}